<div>
    {{#each users}}
            <h1>{{name}} {{last_name}}</h1>
            <p>Edad: {{age}}</p>
            <p>Correo: {{email}}</p>
            <p>Teléfono: {{phone}}</p>
            <hr>
    {{/each}}
</div>